<div class="container">
<h1 class="page-header">Node settings</h1>
<h2>Node identity</h2>
<div class="alert alert-info">Current identity: <b><? if($isRootNode) {?>Root node<? } else {?>Client node<? } ?></b></div>
<h3>Configure node as independent (root) node</h3>
<?=$generalSettingsFormSuper?>
<h3>OR configure node as client node</h3>
<?=$generalSettingsFormNode?>
<h1 class="page-header">Register Node</h1>
<?=$registerNodeForm?>
</div>