#map {
	width: 100vw;
	height: 100vh;
}
#half-map {
	width: 60vw;
	height: 100vh;
	display: inline-block;
	float: left;
	
}

#node-overview {
	width: 40vw;
	float: right;
	display: inline;
	padding: 15px;
	overflow-y:scroll;
	height: 100vh;
}
.mouse-click {
	cursor: pointer;
}
.navbar-brand {
	padding: 0 25px;
}
body { padding-top: 51px; }